{% extends 'layout.html' %}

{% block body %}

    <h1>About Us</h1>
    <p>Trakila.com, is among the top Cashback sites in India, serves its users by catering them best deals, discounts and coupons which are tested manually
          every day for the ease of the customer to compare and purchase their favorite products on 100+ various online websites (eg. Flipkart, Amazon, Paytm,
          Snapdeal, Jabong, Makemytrip, Yatra, Goibibo, Zovi, Foodpanda etc) along with the Extra Cashback on their transactions. We help our users save cash
          back on their online shopping. Our mission is to be a single platform, where any user can get best experience at browsing their favourite items, knowing
          the best discount & offer on it and earning extra cashback as well.</p>

{% endblock %}